NODE_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=change-me
DB_NAME=pitstop_db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=replace-this-with-a-long-random-secret-at-least-32-characters
TYPEORM_SYNC=true
